@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rock+Salt&display=swap");

/* container*/

.bg-container {
  animation: scroll 100s linear infinite;
  background: url("https://img.freepik.com/premium-photo/top-view-sand-beach-texture-nature-beach-summer_63047-1501.jpg?w=2000"),
    #f8e1e1;
  color: #eee;
  height: 100%;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: cent;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: auto;
}

/*Post-it title*/

.postit {
  line-height: 1;
  text-align: center;
  width: 350px;
  margin: 25px;
  min-height: 180px;
  max-height: 180px;
  padding-top: 5px;
  position: relative;
  border: 1px solid #f6b5c9;
  border-top: 60px solid #df60aa;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #e85eae;
  background: -moz-linear-gradient(
    -45deg,
    #e85eae 81%,
    #e85eae 82%,
    #e85eae 82%,
    #eda2ce 100%
  );
}

.postit:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 4px 15px 5px rgba(0, 0, 0, 0.6);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-10deg);
}

p {
  color: black;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Rock Salt";
  text-align: center;
  color: black;
  display: block;
}

h1 {
  font-size: 3rem;
  margin-top: -55px;
}

h4 {
  color: palevioletred;
  line-height: 1.2;
  padding-left: 8rem;
  padding-right: 8rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

p {
  font-family: "Lato";
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.polaroid > img {
  max-width: 100%;
  height: auto;
}

.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}

.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}

.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

.caption {
  font-family: "Rock Salt";
}
